.body{
 
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  
}

.inputdata{
  display: flex;
  flex-direction: column;
  width: 50%;
  
  
}
.row{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.inputdata label{
  font-size: 1.2em;
  font-weight: 600;
}
.inputdata input{
  margin-bottom: 15px;
  height: 30px;
  font-size: 1em;
  padding: 1px 10px;
  border-radius: 5px;
  width: 90%;
  
}
/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.2em;
 
}

/* Table Header */
th {
  background-color: #262626;
  color: white;
  padding: 5px 20px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #ddd;
  min-width: 90px;
  text-align: center;
}

/* Table Data Cells */
td {
  padding: 5px 20px;
  text-align: left;
  border: 1px solid #c4c4c4;
  font-size: 1em;
  font-weight: bold;
  background-color: #9c9c9c;
  text-align: center;
  min-width: 80px;
}

/* Row Hover Effect */
tr:hover {
  background-color: #f1f1f1;
}

/* Paragraph inside table cells */
td p {
  margin: 0;
}
.res p{
  font-size: 1.4em;
}


.btn{
  width: max-content;
  font-size: 1.3em;
}
.logo a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #262626;
  text-decoration: none;
  gap: 2px;
  font-weight: 600;
}
.logo a img{
  width: 40px;
}